@tailwind base;
@tailwind components;
@tailwind utilities;


 @layer base {
  body {
    @apply font-montserrat text-gray-900;
  }

  li{
    cursor: pointer;
    letter-spacing: 1px;
    transition: .3s all ease-in-out;
  }

  li:hover{
    color: transparent;
  background-clip: text;
  -webkit-background-clip: text; /* Needed for WebKit-based browsers */
  background-image: linear-gradient(to right, #f9d0bf, #df82ff); /* Replace with your colors */
  font-weight: bold
  }

  h1 {
    @apply font-montserrat font-bold text-6xl text-teal-200 font-extrabold;
  }

  p {
    @apply font-syne text-base leading-tight;
  }
}

@layer utilities {
  /* Text Gradient */
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-peach to-lavender;
  }

  /* Background Gradient */
  .bg-gradient {
    @apply bg-gradient-to-r from-peach to-lavender;
  }

  /* Border Gradient */
  .border-gradient {
    @apply p-[2px] bg-gradient-to-r from-peach to-lavender ;
  }
    /* Inner content for border */
    .border-gradient-inner {
      @apply bg-black ;
    }

    .text-shadow {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  
    .text-shadow-md {
      text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    }
  
    .text-shadow-lg {
      text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    }

    .transition-alll {
      @apply transition-all duration-500 ease-in-out;
  }

    .heading{
      @apply leading-snug  tracking-wide   max-sm:text-4xl max-xs:text-3xl  max-sm:leading-snug max-md:leading-snug max-xl:leading-snug max-xl:text-6xl max-md:text-5xl text-7xl 
    }

    .heading-workflow{
      @apply leading-tight  tracking-wide   max-sm:text-3xl max-sm:leading-tight max-md:leading-tight  max-xl:leading-tight max-xl:text-5xl max-md:text-4xl text-6xl
    }

    .workflow-group{
      @apply flex justify-around items-center gap-[100px] max-lg:gap-[50px] pb-5  border-b border-b-[1px] max-md:gap-5 border-b-gray-700 max-md:flex-wrap max-md:text-start
    }

    .workflow-group-content{
      @apply text-sm w-[50%] max-lg:w-[60%] tracking-wide max-md:w-full max-md:text-start
    }

    .workflow-group-title{
      @apply flex justify-center max-md:w-full max-md:justify-start gap-3
    }
}
